// Variables
@import 'variables_dashboard';
// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

/* INIT --- */
a {
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

html,
body,
#app,
#app > .container-fluid,
#app > .container-fluid > .row {
  height: 100%;
}

.mb12 {
  margin-bottom: 12px !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.hidden {
  display: none !important;
}

/* end INIT */

/* INPUT --- */
.form-check {
  padding: 0;
}
.form-check input[type=checkbox] {
  opacity: 0;
}

.form-check label {
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 0;
  position: relative;
}

.form-check input {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.form-check label::before {
  content: "";
  width: 9px;
  height: 9px;
  background-image: url('/images/ico-checkbox.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* end INPUT */

/* TITLES --- */

.title-type-3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.5px;
}

.title-type-4 {

  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}

/* end TITLES */

/* SIDEBAR --- */
.sidebar {
  width: 380px;
  background-color: #333541;
}

.sidebar-container {
  padding-left: 36px !important;
  padding-right: 36px !important;
}

.sidebar .box-logo {
  padding: 15px 0;
  position: relative;
  border-bottom: 1px solid #383A47;
  margin-bottom: 32px;
}

#indicator {
  display: block;
  width: 7px;
  height: 7px;
  background: #03CF3C;
  box-shadow: 0px 0px 5px rgba(3, 207, 60, 0.25);
  border-radius: 50%;
  -webkit-animation-name: light;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.system-datetime {
  font-size: 12px;
  opacity: 0.75;
  margin-left: 8px;
  margin-right: 10px;
  min-width: 162px;
}

.system-datetime-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 44px;
}

.form-input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: inherit;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px 20px;
  margin-bottom: 8px;
  font-weight: 500;
  color: #fff;
}

.form-button {
  width: 100%;
  border: 1px solid #FF5E0C;
  background: inherit;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px 20px;
  margin-bottom: 44px;
  color: #FF5E0C;
  text-align: left;
  font-weight: 500;
}

.coll-first {
  width: 60px;
  font-size: 14px;
  line-height: 36px;
  color: #FFFFFF;
  opacity: 0.75;

}

.coll-second {
  font-size: 14px;
  line-height: 36px;
  color: #FFFFFF;
  padding-left: 20px;
}

.Planning {
  display: flex;
  margin-top: 20px;
}

.Planning .left {
  width: calc(100% - 44px);
  display: flex;
  justify-content: space-between;
  border: 1px solid #474954;
  box-sizing: border-box;
  background: inherit;
  font-size: 14px;
  padding: 10px 20px;
  text-align: left;
  font-weight: 500;
}

.Planning .left .name {
  color: #FF5E0C;
}

.Planning .left .count {
  color: #FFFFFF;
}

.Planning .right {
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.progress-bar-planning {
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin-top: 9px;
  transition: all .5s;
}

.progress-bar-planning .line {
  width: 0;
  display: block;
  height: 100%;
  background: #F0C220;
  box-shadow: 0px 0px 7px rgba(240, 194, 32, 0.25);
  border-radius: 5px;
}

.sidebar-max-height {
  min-height: 100vh;
  position: relative;
}

/* end SIDEBAR */

/* CONTENT ---*/
.content {
  width: calc(100% - 380px);
  background-color: #383A47;
  padding-left: 34px;
  padding-top: 48px;
}

.content .title-content {
  font-weight: 600;
  font-size: 20px;
}

.content .nav-tabs {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

.content .nav-tabs .nav-item {
  margin-right: 2.2rem;
}

.content .nav-tabs .nav-link {
  font-weight: 500;
  font-size: 14px;
  border: none;
  padding: 0 0 0.7rem 0;
  cursor: pointer;
}

.content .nav-tabs .nav-link.active, .content .nav-tabs .nav-item.show .nav-link {
  color: #fff !important;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #FF5E0C;
}

.content .tab-content {
  margin: 0.8rem 0;
}

.content .tab-content .picture {
  background-color: #000;
  background-size: cover;
  width: 100%;
  height: 240px;
  position: relative;
}

.table.table-dark {
  background-color: transparent !important;
}

.table thead th {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  border: none !important;
}

.table tbody td {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.table tr {
  position: relative;
}

.table tr::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  opacity: 0.1;
}

/* end CONTENT */

/* STATUS BACKGROUND TABLE */
.status1 {
  background: #4452AD;
  opacity: 0.5;
}

.status2 {
  background: #4489AD;
  opacity: 0.75;
}

.status3 {
  background: #BA9377;
  opacity: 0.5;
}

.status4 {
  background: #E06C41;
  opacity: 0.5;
}

.status5 {
  background: #E8E0B3;
  opacity: 0.75;
}

.status6 {
  background: #66A3FF;
  opacity: 0.75;
}

.status7 {
  background: #CFC176;
  opacity: 0.75;
}

/* end STATUS BACKGROUND TABLE */

/* animation --- */
@-webkit-keyframes light {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

/* end animation */

/* menu hamburger --- */
.butt_menu_mobile {
  position: absolute;
  width: 30px;
  height: 21px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#menu__toggle {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  cursor: pointer;
  z-index: 1;
  margin-bottom: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 3px;

  background-color: #FF5E0C;

  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

button#logout {
  max-width: calc(380px - 72px);
  position: absolute;
  bottom: 23px;
  left: 50%;
  transform: translateX(-50%);
}

.menu {
  width: 100%;
}

.menu li a,
.menu li > span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-left: 64px;
  color: #fff;
  cursor: pointer;
}

.menu li a:hover {
  text-decoration: none;
}

.menu li {
  border: 1px solid #474954;
  width: 100%;
  height: 44px;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menu li:hover ::after,
.menu li.active::after {
  display: block;
  background: #FF5E0C;
  height: 100%;
  width: 4px;
  position: absolute;
  top: 0;
  left: -3px;
}

.menu li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  width: 44px;
  height: 100%;
  border-right: 1px solid #474954;
}

.menu li.home::before {
  background-image: url('/images/ico-home.svg');
}

.menu li.recipes::before {
  background-image: url('/images/ico-recipes.svg');
}

.menu li.admin::before {
  background-image: url('/images/ico-admin.svg');
}

.menu li.diagnostics::before {
  background-image: url('/images/ico-diagnostics.svg');
}

.menu li.stat::before {
  background-image: url('/images/ico-stat.svg');
}

.menu li.network::before {
  background-image: url('/images/ico-network.svg');
}

.menu li.logs::before {
  background-image: url('/images/ico-logs.svg');
}

.menu li.print::before {
  background-image: url('/images/ico-print.svg');
}

.menu li.save::before {
  background-image: url('/images/ico-save.svg');
}

.menu li.filter::before {
  background-image: url('/images/ico-filter.svg');
}

.menu li.add::before {
  background-image: url('/images/ico-add.svg');
}

.menu li.delete::before {
  background-image: url('/images/ico-delete.svg');
}

.menu li.activates::before {
  background-image: url('/images/ico-activate.svg');
}

.menu li.delete span {
  color: #FF4444 !important;
  cursor: pointer;
}

.menu li.add span {
  color: #92D8BC !important;
  cursor: pointer;
}

/* end menu hamburger */

/* FILETER --- */
.butt_ok {
  display: block;
  background-image: url(/images/ico-ok.svg);
  background-size: cover;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.butt_cancel {
  display: block;
  background-image: url(/images/ico-cancel.svg);
  background-size: cover;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.filter {
  background: #383B4F;
  padding: 3px 4px;
  margin: -3px -4px;
}

.filter .form-group {
  border: 1px solid #474954;
  height: 44px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.filter .form-group .col-left {
  width: 44px;
  height: 100%;
  border-right: 1px solid #474954;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter .form-group .col-center-right {
  width: calc(100% - 44px);
  height: 100%;
  border-right: 1px solid #474954;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter .form-group .col-right {
  width: 44px;
  height: 100%;
  border-right: 1px solid #474954;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter .form-group .col-center {
  width: calc(100% - 44px - 44px);
  height: 100%;
  border-right: 1px solid #474954;
}

.filter .form-group .col-max {
  width: 100%;
}

.filter .form-name {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-left: 20px;
  color: #92D8BC;
  cursor: pointer;
}

/* tables --- */
.title-query {
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* end tables */
/* end FILTER -- */

/* RESET VUE STYLE --- */
.vue-popper {
  background: #383B4F !important;
}

.vue-input__inner {
  color: #fff !important;
}

.vue-select__option--hovered {
  background: #383B4F !important;
  color: #498aed;
}

.vue-select .vue-input i {
  color: #fff;
}

/* end RESET VUE STYLE */

/* MEDIA --- */
@media screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}

/* end MEDIA */