// Variables
@import 'variables_dashboard';
// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

/* INIT --- */
ul {
  list-style: none;
  padding-left: 0;
}

body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

html,
body,
#app,
#app > .container-fluid,
#app > .container-fluid > .row {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* end INIT */

/* MENU ---*/
.butt_menu_mobile {
  position: absolute;
  width: 30px;
  height: 21px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.butt_menu_mobile span {
  background: #FF5E0C;
  width: 100%;
  height: 3px;
  display: block;
}

/* end MENU */

/* TITLES --- */

.title-type-3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.5px;
}

.title-type-4 {

  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}
/* end TITLES */

/* SIDEBAR --- */
.sidebar {
  width: 380px;
  background-color: #333541;
}

.sidebar-container {
  padding-left: 36px !important;
  padding-right: 36px !important;
}

.sidebar .box-logo {
  padding: 15px 0;
  position: relative;
  border-bottom: 1px solid #383A47;
  margin-bottom: 32px;
}

#indicator {
  display: block;
  width: 7px;
  height: 7px;
  background: #03CF3C;
  box-shadow: 0px 0px 5px rgba(3, 207, 60, 0.25);
  border-radius: 50%;
}

.system-datetime {
  font-size: 12px;
  line-height: 150%;
  opacity: 0.75;
  margin-left: 8px;
  margin-right: 10px;
}

.system-datetime-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 44px;
}

.form-input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: inherit;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px 20px;
  margin-bottom: 8px;
  font-weight: 500;
}

.form-button {
  width: 100%;
  border: 1px solid #FF5E0C;
  background: inherit;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px 20px;
  margin-bottom: 44px;
  color: #FF5E0C;
  text-align: left;
  font-weight: 500;
}

.coll-first {
  width: 60px;
  font-size: 14px;
  line-height: 36px;
  color: #FFFFFF;
  opacity: 0.75;

}

.coll-second {
  font-size: 14px;
  line-height: 36px;
  color: #FFFFFF;
  padding-left: 20px;
}

.Planning {
  display: flex;
  margin-top: 20px;
}

.Planning .left {
  width: calc(100% - 44px);
  display: flex;
  justify-content: space-between;
  border: 1px solid #474954;
  box-sizing: border-box;
  background: inherit;
  font-size: 14px;
  padding: 10px 20px;
  text-align: left;
  font-weight: 500;
}

.Planning .left .name {
  color: #FF5E0C;
}

.Planning .left .count {
  color: #FFFFFF;
}

.Planning .right {
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.progress-bar-planning {
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin-top: 9px;
}
.progress-bar-planning .line {
  width: 60%;
  display: block;
  height: 100%;
  background: #F0C220;
  box-shadow: 0px 0px 7px rgba(240, 194, 32, 0.25);
  border-radius: 5px;
}


/* end SIDEBAR */

/* CONTENT ---*/
.content {
  width: calc(100% - 380px);
  background-color: #383A47;
  padding-left: 34px;
  padding-top: 48px;
}

.content .title-content {
  font-weight: 600;
  font-size: 20px;
}
.content .nav-tabs {
  border-bottom-color: rgba(255,255,255,0.1);
}
.content .nav-tabs .nav-item {
  margin-right: 2.2rem;
}
.content .nav-tabs .nav-link {
  font-weight: 500;
  font-size: 14px;
  border: none;
  padding: 0 0 0.7rem 0;
}
.content .nav-tabs .nav-link.active, .content .nav-tabs .nav-item.show .nav-link {
  color: #fff !important;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #FF5E0C;
}

.content .tab-content {
  margin: 0.8rem 0;
}

.content .tab-content .picture {
  background-color: #000;
  width: 100%;
  height: 240px;
  position: relative;
}
.table.table-dark {
  background-color: transparent !important;
}
.table thead th {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  border: none !important;
}
.table tbody td {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.table tr {
  position: relative;
}
.table tr::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  opacity: 0.1;
}
/* end CONTENT */

/* STATUS BACKGROUND TABLE */
.status-1 {
  background: #4452AD;
  opacity: 0.5;
}
.status-2 {
  background: #4489AD;
  opacity: 0.75;
}
.status-3 {
  background: #BA9377;
  opacity: 0.5;
}
.status-4 {
  background: #E06C41;
  opacity: 0.5;
}
.status-5 {
  background: #E8E0B3;
  opacity: 0.75;
}
.status-6 {
  background: #66A3FF;
  opacity: 0.75;
}
.status-7 {
  background: #CFC176;
  opacity: 0.75;
}
/* end STATUS BACKGROUND TABLE */